<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [1]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [2]:

!pip install -q pandas==1.1.5

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///RealWorldData.db

'Connected: @RealWorldData.db'

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data 
##### using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [14]:
import pandas as pd

def pull(url: str, name: str):
    data = pd.read_csv(url)
    data.to_sql(name, con, if_exists='replace', index=False, method="multi")
    return data

census = pull('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv', 'CENSUS')
crime = pull('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv', 'CRIME')
school = pull('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv', 'SCHOOLS')

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Double-click **here** for the solution.
<!--

import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

-->

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [19]:
# type in your query to retrieve list of all tables in the database
%sql SELECT * FROM sqlite_master where TYPE='table';

 * sqlite:///RealWorldData.db
Done.

[('table', 'SCHOOL_DATA', 'SCHOOL_DATA', 2, 'CREATE TABLE "SCHOOL_DATA" (\n"index" INTEGER,\n  "COMMUNITY_AREA_NUMBER" REAL,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "PERCENT_OF_HOUSING_CROWDED" REAL,\ ... (93 characters truncated) ... T_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA" REAL,\n  "PERCENT_AGED_UNDER_18_OR_OVER_64" REAL,\n  "PER_CAPITA_INCOME" INTEGER,\n  "HARDSHIP_INDEX" REAL\n)'),
 ('table', 'CENSUS', 'CENSUS', 6, 'CREATE TABLE "CENSUS" (\n"COMMUNITY_AREA_NUMBER" REAL,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "PERCENT_OF_HOUSING_CROWDED" REAL,\n  "PERCENT_HOUSEHOLDS_BE ... (68 characters truncated) ... T_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA" REAL,\n  "PERCENT_AGED_UNDER_18_OR_OVER_64" REAL,\n  "PER_CAPITA_INCOME" INTEGER,\n  "HARDSHIP_INDEX" REAL\n)'),
 ('table', 'CRIME', 'CRIME', 9, 'CREATE TABLE "CRIME" (\n"ID" INTEGER,\n  "CASE_NUMBER" TEXT,\n  "DATE" TEXT,\n  "BLOCK" TEXT,\n  "IUCR" TEXT,\n  "PRIMARY_TYPE" TEXT,\n  "DESCRIPTION ... (174 characters truncated) ... \n  "FBICODE" TEXT,\n  "X_COORDINATE" REAL,\n  "Y_COORDINATE" REAL,\n  "YEAR" INTEGER,\n  "LATITUDE" REAL,\n  "LONGITUDE" REAL,\n  "LOCATION" TEXT\n)'),
 ('table', 'SCHOOLS', 'SCHOOLS', 33, 'CREATE TABLE "SCHOOLS" (\n"School_ID" INTEGER,\n  "NAME_OF_SCHOOL" TEXT,\n  "Elementary, Middle, or High School" TEXT,\n  "Street_Address" TEXT,\n  " ... (2202 characters truncated) ... tude" REAL,\n  "COMMUNITY_AREA_NUMBER" INTEGER,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "Ward" INTEGER,\n  "Police_District" INTEGER,\n  "Location" TEXT\n)')]

Double-click **here** for a hint

<!--
In sqlite the system catalog table called sqlite_master contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution using SQLite:

%sql SELECT name FROM sqlite_master WHERE type='table'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [22]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT COUNT(*) FROM PRAGMA_TABLE_INFO('SCHOOLS')

 * sqlite:///RealWorldData.db
Done.

[(78,)]

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [24]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql SELECT DISTINCT(name), length(type), type FROM PRAGMA_TABLE_INFO('SCHOOLS')

 * sqlite:///RealWorldData.db
Done.

[('School_ID', 7, 'INTEGER'),
 ('NAME_OF_SCHOOL', 4, 'TEXT'),
 ('Elementary, Middle, or High School', 4, 'TEXT'),
 ('Street_Address', 4, 'TEXT'),
 ('City', 4, 'TEXT'),
 ('State', 4, 'TEXT'),
 ('ZIP_Code', 7, 'INTEGER'),
 ('Phone_Number', 4, 'TEXT'),
 ('Link', 4, 'TEXT'),
 ('Network_Manager', 4, 'TEXT'),
 ('Collaborative_Name', 4, 'TEXT'),
 ('Adequate_Yearly_Progress_Made_', 4, 'TEXT'),
 ('Track_Schedule', 4, 'TEXT'),
 ('CPS_Performance_Policy_Status', 4, 'TEXT'),
 ('CPS_Performance_Policy_Level', 4, 'TEXT'),
 ('HEALTHY_SCHOOL_CERTIFIED', 4, 'TEXT'),
 ('Safety_Icon', 4, 'TEXT'),
 ('SAFETY_SCORE', 4, 'REAL'),
 ('Family_Involvement_Icon', 4, 'TEXT'),
 ('Family_Involvement_Score', 4, 'TEXT'),
 ('Environment_Icon', 4, 'TEXT'),
 ('Environment_Score', 4, 'REAL'),
 ('Instruction_Icon', 4, 'TEXT'),
 ('Instruction_Score', 4, 'REAL'),
 ('Leaders_Icon', 4, 'TEXT'),
 ('Leaders_Score', 4, 'TEXT'),
 ('Teachers_Icon', 4, 'TEXT'),
 ('Teachers_Score', 4, 'TEXT'),
 ('Parent_Engagement_Icon', 4, 'TEXT'),
 ('Parent_Engagement_Score', 4, 'TEXT'),
 ('Parent_Environment_Icon', 4, 'TEXT'),
 ('Parent_Environment_Score', 4, 'TEXT'),
 ('AVERAGE_STUDENT_ATTENDANCE', 4, 'TEXT'),
 ('Rate_of_Misconducts__per_100_students_', 4, 'REAL'),
 ('Average_Teacher_Attendance', 4, 'TEXT'),
 ('Individualized_Education_Program_Compliance_Rate', 4, 'TEXT'),
 ('Pk_2_Literacy__', 4, 'TEXT'),
 ('Pk_2_Math__', 4, 'TEXT'),
 ('Gr3_5_Grade_Level_Math__', 4, 'TEXT'),
 ('Gr3_5_Grade_Level_Read__', 4, 'TEXT'),
 ('Gr3_5_Keep_Pace_Read__', 4, 'TEXT'),
 ('Gr3_5_Keep_Pace_Math__', 4, 'TEXT'),
 ('Gr6_8_Grade_Level_Math__', 4, 'TEXT'),
 ('Gr6_8_Grade_Level_Read__', 4, 'TEXT'),
 ('Gr6_8_Keep_Pace_Math_', 4, 'TEXT'),
 ('Gr6_8_Keep_Pace_Read__', 4, 'TEXT'),
 ('Gr_8_Explore_Math__', 4, 'TEXT'),
 ('Gr_8_Explore_Read__', 4, 'TEXT'),
 ('ISAT_Exceeding_Math__', 4, 'REAL'),
 ('ISAT_Exceeding_Reading__', 4, 'REAL'),
 ('ISAT_Value_Add_Math', 4, 'REAL'),
 ('ISAT_Value_Add_Read', 4, 'REAL'),
 ('ISAT_Value_Add_Color_Math', 4, 'TEXT'),
 ('ISAT_Value_Add_Color_Read', 4, 'TEXT'),
 ('Students_Taking__Algebra__', 4, 'TEXT'),
 ('Students_Passing__Algebra__', 4, 'TEXT'),
 ('9th Grade EXPLORE (2009)', 4, 'TEXT'),
 ('9th Grade EXPLORE (2010)', 4, 'TEXT'),
 ('10th Grade PLAN (2009)', 4, 'TEXT'),
 ('10th Grade PLAN (2010)', 4, 'TEXT'),
 ('Net_Change_EXPLORE_and_PLAN', 4, 'TEXT'),
 ('11th Grade Average ACT (2011)', 4, 'TEXT'),
 ('Net_Change_PLAN_and_ACT', 4, 'TEXT'),
 ('College_Eligibility__', 4, 'TEXT'),
 ('Graduation_Rate__', 4, 'TEXT'),
 ('College_Enrollment_Rate__', 4, 'TEXT'),
 ('COLLEGE_ENROLLMENT', 7, 'INTEGER'),
 ('General_Services_Route', 7, 'INTEGER'),
 ('Freshman_on_Track_Rate__', 4, 'TEXT'),
 ('X_COORDINATE', 4, 'REAL'),
 ('Y_COORDINATE', 4, 'REAL'),
 ('Latitude', 4, 'REAL'),
 ('Longitude', 4, 'REAL'),
 ('COMMUNITY_AREA_NUMBER', 7, 'INTEGER'),
 ('COMMUNITY_AREA_NAME', 4, 'TEXT'),
 ('Ward', 7, 'INTEGER'),
 ('Police_District', 7, 'INTEGER'),
 ('Location', 4, 'TEXT')]

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [30]:
%sql SELECT distinct "Elementary, Middle, or High School"  from 'SCHOOLS'

 * sqlite:///RealWorldData.db
Done.

[('ES',), ('HS',), ('MS',)]

In [32]:
%sql SELECT * FROM 'SCHOOLS' WHERE "Elementary, Middle, or High School"="ES" LIMIT 15

 * sqlite:///RealWorldData.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.4579999999, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610342, 'Albert R Sabin Elementary Magnet School', 'ES', '2216 W Hirsch St', 'Chicago', 'IL', 60622, '(773) 534-4491', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610342.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Strong', 67.0, 'NDA', 'NDA', 'Weak', 30.0, 'Very Weak', 18.0, 'Weak', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '94.70%', 28.1, '95.00%', '100.00%', '56.3', 'NDA', '33.5', '33.5', '49.5', '49.5', '27.4', '39.3', '35.5', '44.4', '25', '23.4', 18.0, 12.8, -1.8, 0.1, 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 620, 35, 'NDA', 1161265.299, 1909314.592, 41.90684338, -87.68304259, 24, 'WEST TOWN', 1, 14, '(41.90684338, -87.68304259)'),
 (610209, 'Alessandro Volta Elementary School', 'ES', '4950 N Avers Ave', 'Chicago', 'IL', 60625, '(773) 534-5080', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610209.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 43.0, 'Strong', '61', 'Weak', 28.0, 'Weak', 37.0, 'Weak', '62', 'Average', '56', 'Average', '51', 'Average', '53', '96.40%', 22.5, '95.90%', '100.00%', '63.9', '43.2', '51.3', '32.9', '50.7', '70', '52.5', '31.3', '59.8', '57.6', '16.5', '24.7', 19.9, 14.2, 0.3, -0.4, 'Yellow', 'Yellow', '31.6', '65.2', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1023, 31, 'NDA', 1149774.095, 1932831.1509999998, 41.97160605, -87.72464139, 14, 'ALBANY PARK', 39, 17, '(41.97160605, -87.72464139)'),
 (609799, 'Alexander Graham Bell Elementary School', 'ES', '3730 N Oakley Ave', 'Chicago', 'IL', 60618, '(773) 534-5150', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609799.pdf', 'Ravenswood-Ridge Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 99.0, 'Very Strong', '88', 'Strong', 64.0, 'Average', 46.0, 'Weak', '51', 'Average', '51', 'NDA', 'NDA', 'NDA', 'NDA', '96.30%', 6.3, '95.90%', '99.30%', '91.9', '67.3', '79.2', '77.4', '53.3', '54.7', '84.2', '83', '49.8', '53.6', '62.6', '71.7', 64.0, 57.9, 0.0, 0.3, 'Yellow', 'Yellow', '58.1', '65.6', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 998, 35, 'NDA', 1160327.881, 1924862.7219999998, 41.94952795, -87.68605496, 5, 'NORTH CENTER', 47, 19, '(41.94952795, -87.68605496)'),
 (609947, 'Alexander Graham Elementary School', 'ES', '4436 S Union Ave', 'Chicago', 'IL', 60609, '(773) 535-1308', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609947.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Average', 49.0, 'Weak', '30', 'Weak', 31.0, 'Weak', 33.0, 'Weak', '30', 'Average', '41', 'Average', '48', 'Average', '51', '92.50%', 27.4, '95.00%', '92.10%', '76.7', '47.4', '59.4', '38.8', '51.6', '76.2', '44.4', '31.3', '66.7', '49.3', '5.9', '35.3', 20.8, 11.1, 1.7, -0.5, 'Green', 'Yellow', '45.3', '31.8', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 476, 42, 'NDA', 1172335.702, 1875308.997, 41.81329195, -87.64338051, 61, 'NEW CITY', 11, 9, '(41.81329195, -87.64338051)'),
 (609963, 'Alexander Hamilton Elementary School', 'ES', '1650 W Cornelia Ave', 'Chicago', 'IL', 60657, '(773) 534-5484', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609963.pdf', 'Ravenswood-Ridge Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 73.0, 'Strong', '64', 'Strong', 60.0, 'Average', 59.0, 'Weak', '59', 'Average', '48', 'Strong', '57', 'Strong', '54', '95.30%', 12.5, '97.40%', '97.40%', '70.3', '47.2', '34.4', '48.4', '56.5', '62.9', '31.9', '46.8', '48.9', '51.1', '14.3', '35.7', 13.8, 21.3, 0.6, 0.6, 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 307, 33, 'NDA', 1164474.274, 1923334.414, 41.94524725, -87.67085683, 6, 'LAKE VIEW', 32, 19, '(41.94524725, -87.67085683)'),
 (610210, 'Alexander von Humboldt Elementary School', 'ES', '2620 W Hirsch St', 'Chicago', 'IL', 60622, '(773) 534-4480', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610210.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Weak', 31.0, 'NDA', 'NDA', 'Weak', 32.0, 'Average', 45.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Weak', '43', 'Weak', '44', '92.50%', 185.5, '96.00%', '100.00%', 'NDA', '32.6', '23.6', '24', '56.3', '54', '31.8', '19.7', '60.7', '39.7', '9.1', '20.5', 8.6, 5.7, -0.4, -1.2, 'Yellow', 'Red', '14.6', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 398, 34, 'NDA', 1158554.232, 1909250.021, 41.90672216, -87.69300325, 24, 'WEST TOWN', 26, 14, '(41.90672216, -87.69300325)'),
 (609808, 'Alex Haley Elementary Academy', 'ES', '11411 S Eggleston Ave', 'Chicago', 'IL', 60628, '(773) 535-5340', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609808.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Weak', 28.0, 'NDA', 'NDA', 'Average', 58.0, 'Strong', 60.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Average', '49', '94.90%', 2.9, '94.70%', '94.70%', '51.6', '31.4', '17.3', '13.6', '43.7', '41.4', '36.3', '24.5', '64.8', '53.9', '1.8', '16.1', 11.6, 1.9, 0.5, -1.5, 'Yellow', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 525, 48, 'NDA', 1175378.7140000002, 1829178.573, 41.68663682, -87.63359476, 49, 'ROSELAND', 34, 22, '(41.68663682, -87.63359476)'),
 (610028, 'Alfred David Kohn Elementary School', 'ES', '10414 S State St', 'Chicago', 'IL', 60628, '(773) 535-5489', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610028.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Probation', 'Level 3', 'No', 'Very Weak', 19.0, 'Weak', '26', 'Weak', 22.0, 'Very Weak', 13.0, 'Weak', '21', 'Very Weak', '19', 'Average', '47', 'Weak', '45', '90.10%', 31.2, '94.20%', '96.40%', '41.3', '31.9', '34', '22.2', '42.8', '56.2', '29.6', '22.8', '80', '61.7', '4.3', '19.6', 5.0, 5.6, 0.5, -0.1, 'Yellow', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 428, 48, 'NDA', 1178053.498, 1835837.822, 41.70485072, -87.62360199, 49, 'ROSELAND', 34, 5, '(41.70485072, -87.62360199)'),
 (610098, 'Alfred Nobel Elementary School', 'ES', '4127 W Hirsch St', 'Chicago', 'IL', 60651, '(773) 534-4365', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610098.pdf', 'Garfield-Humboldt Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Weak', 37.0, 'Weak', '34', 'Weak', 37.0, 'Weak', 35.0, 'Weak', '48', 'Weak', '36', 'Average', '48', 'Average', '51', '94.60%', 24.8, '95.20%', '100.00%', '55.4', '33.2', '26.7', '23.2', '47.3', '50', '39.2', '28.1', '59.5', '51', '15.2', '16.7', 9.7, 7.1, -0.3, 0.7, 'Yellow', 'Yellow', '23.4', '44.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 801, 34, 'NDA', 1148503.002, 1908960.619, 41.90612797, -87.72993324, 23, 'HUMBOLDT PARK', 37, 25, '(41.90612797, -87.72993324)'),
 (609788, 'Alice L Barnard Computer Math & Science Center Elementary School', 'ES', '10354 S Charles St', 'Chicago', 'IL', 60643, '(773) 535-2625', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609788.pdf', 'Rock Island Elementary Network', 'FAR SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 46.0, 'NDA', 'NDA', 'Weak', 39.0, 'Average', 58.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Strong', '69', 'Average', '51', '95.60%', 28.5, '95.00%', '100.00%', '62.1', '38.5', '43', '38.8', '47.4', '61.8', '45.6', '40.4', '49.4', '61.4', '18.5', '29.6', 18.0, 15.7, 1.9, 1.9, 'Green', 'Green', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 274, 49, 'NDA', 1168627.899, 1835867.534, 41.70514024, -87.65811642, 72, 'BEVERLY', 19, 22, '(41.70514024, -87.65811642)'),
 (610131, 'Ambrose Plamondon Elementary School', 'ES', '2642 W 15th Pl', 'Chicago', 'IL', 60608, '(773) 534-1789', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610131.pdf', 'Austin-North Lawndale Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 45.0, 'NDA', 'NDA', 'Weak', 32.0, 'Weak', 28.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Weak', '45', 'Weak', '41', '96.90%', 0.6, '96.60%', '100.00%', '61.9', '14.3', '27.3', '37.9', '35', '54.8', '43.5', '25', '74.4', '40', '16.7', '25', 12.3, 11.4, -1.5, -1.3, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 171, 39, 'NDA', 1158816.3020000001, 1892329.996, 41.86028668, -87.69250468, 29, 'NORTH LAWNDALE', 28, 10, '(41.86028668, -87.69250468)')]

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS_DATA where "Elementary, Middle, or High School"='ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [33]:
%sql SELECT MAX(SAFETY_SCORE) FROM 'SCHOOLS';

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [35]:
%sql SELECT NAME_OF_SCHOOL, SAFETY_SCORE FROM 'SCHOOLS' WHERE SAFETY_SCORE=(SELECT MAX(SAFETY_SCORE) FROM 'SCHOOLS')

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
  Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [39]:
%sql SELECT AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL FROM 'SCHOOLS' ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC LIMIT 10

 * sqlite:///RealWorldData.db
Done.

[('98.40%', 'John Charles Haines Elementary School'),
 ('97.80%', 'James Ward Elementary School'),
 ('97.60%', 'Edgar Allan Poe Elementary Classical School'),
 ('97.60%', 'Orozco Fine Arts & Sciences Elementary School'),
 ('97.60%', 'Rachel Carson Elementary School'),
 ('97.50%', 'Annie Keller Elementary Gifted Magnet School'),
 ('97.40%', 'Andrew Jackson Elementary Language Academy'),
 ('97.40%', 'Lenart Elementary Regional Gifted Center'),
 ('97.30%', 'Disney II Magnet School'),
 ('97.20%', 'John H Vanderpoel Elementary Magnet School')]

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from CHICAGO_PUBLIC_SCHOOLS_DATA \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [41]:
%sql SELECT AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL FROM 'SCHOOLS' ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[(None, 'Velma F Thomas Early Childhood Center'),
 ('57.90%', 'Richard T Crane Technical Preparatory High School'),
 ('60.90%', 'Barbara Vick Early Childhood & Family Center'),
 ('62.50%', 'Dyett High School'),
 ('63.00%', 'Wendell Phillips Academy High School')]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [42]:
%sql SELECT REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') FROM 'SCHOOLS' LIMIT 10

 * sqlite:///RealWorldData.db
Done.

[('96.00',),
 ('95.60',),
 ('95.70',),
 ('95.50',),
 ('93.30',),
 ('97.00',),
 ('96.30',),
 ('94.70',),
 ('92.70',),
 ('96.40',)]

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''

-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [45]:
%sql SELECT AVERAGE_STUDENT_ATTENDANCE, NAME_OF_SCHOOL FROM SCHOOLS WHERE CAST (REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') AS DOUBLE) < 70

 * sqlite:///RealWorldData.db
Done.

[('60.90%', 'Barbara Vick Early Childhood & Family Center'),
 ('68.80%', 'Chicago Vocational Career Academy High School'),
 ('62.50%', 'Dyett High School'),
 ('66.80%', 'Manley Career Academy High School'),
 ('66.30%', 'Orr Academy High School'),
 ('57.90%', 'Richard T Crane Technical Preparatory High School'),
 ('69.60%', 'Roberto Clemente Community Academy High School'),
 ('63.00%', 'Wendell Phillips Academy High School')]

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)

-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [48]:
%sql SELECT Community_Area_Name, SUM(COLLEGE_ENROLLMENT) FROM SCHOOLS GROUP BY Community_Area_Name

 * sqlite:///RealWorldData.db
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [51]:
%%sql
    SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS ENROL_SUM
    FROM SCHOOLS
    GROUP BY COMMUNITY_AREA_NAME
    ORDER BY SUM(COLLEGE_ENROLLMENT) ASC
    LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5 

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [56]:
%%sql
    SELECT NAME_OF_SCHOOL, SAFETY_SCORE
    FROM SCHOOLS
    WHERE SAFETY_SCORE IS NOT NULL
    ORDER BY SAFETY_SCORE 
    LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

Double-click **here** for the solution.

<!-- Solution SQLite:

%sql SELECT name_of_school, safety_score \
FROM CHICAGO_PUBLIC_SCHOOLS_DATA  where safety_score !='None' \
ORDER BY safety_score \
LIMIT 5

-->

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [58]:
%%sql
    SELECT hardship_index FROM CENSUS as C
    INNER JOIN SCHOOLS AS S 
    ON C.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
    WHERE S.COLLEGE_ENROLLMENT = 4368

 * sqlite:///RealWorldData.db
Done.

[(6.0,)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
where CD.community_area_number = CPS.community_area_number 
and college_enrollment = 4368


-->

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [66]:
%%sql
    SELECT hardship_index, s.COMMUNITY_AREA_NUMBER, s.COLLEGE_ENROLLMENT, S.NAME_OF_SCHOOL from CENSUS AS C
    INNER JOIN SCHOOLS AS S
    ON S.COMMUNITY_AREA_NUMBER = C.COMMUNITY_AREA_NUMBER
    WHERE S.COLLEGE_ENROLLMENT = (SELECT MAX(COLLEGE_ENROLLMENT) FROM SCHOOLS)

 * sqlite:///RealWorldData.db
Done.

[(6.0, 5, 4368, 'Albert G Lane Technical High School')]

In [67]:
%%sql
    SELECT DISTINCT(HARDSHIP_INDEX) FROM CENSUS LIMIT 10

 * sqlite:///RealWorldData.db
Done.

[(39.0,),
 (46.0,),
 (20.0,),
 (17.0,),
 (6.0,),
 (5.0,),
 (2.0,),
 (1.0,),
 (8.0,),
 (21.0,)]

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select community_area_number, community_area_name, hardship_index from CENSUS_DATA \
   where community_area_number in \
   ( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )
-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>